.submitted {
  float: right;
  padding: 0 0 1em 1em;
}

.node-wireframe {
  .field-name-field-asset-collection {
    clear: both;
    background: #444;
    height: 400px;
    width: 100%;
    overflow: auto;
    margin-bottom: 1em;

    & > .field-items {
      padding: 1em;
      width: 2500px;
      overflow: hidden;

      .field-collection-view-links {
        display: none;
      }

      & > .field-item {
        display: block;
        float: left;
        margin-right: 1em;
      }

      // The download link for the original file
      .field-name-field-asset-original {
        a {
          color: $meedan_yellow;
        }
      }
    }
  }
}

.links {
  li {
    display: inline-block;
    a {
      display: block;
      background: $meedan_green;
      padding: 0.5em 1.0em;
      color: #fff;
      text-decoration: none;

      &:hover {
        background: lighten($meedan_green, 10%);
      }
    }
  }
}


#comments {
  border-top: 2px solid $text_color;
  padding: 1em 10em 0 10em;

  .indented {
    margin-left: 15px;
    border-left: 5px solid #bbdafd;
    padding-left: 5px;
  }

  .comment {
    position: relative;
    margin: 1em 0;
    padding-bottom: 31px;
    border-bottom: 1px solid $text_color;

    div.links {
      position: absolute;
      bottom: 0;
      right: 0;

      li.comment-reply {
        display: none;
      }
    }
  }

  .revision-comment-marker {
    clear: both;

    background: $meedan_blue;
    margin-bottom: 5px;

    a {
      display: inline-block;
      padding: 5px 10px;
      color: #fff;

      &:hover {
        background: lighten($meedan_blue, 10%);
        text-decoration: none;
      }
    }
  }
}
