.page-node {
  .submitted {
    float: right;
    padding: 0 0 1em 1em;
  }

  .node-wireframe {
    .field-name-field-asset {
      clear: both;
      background: #444;
      // height: 400px;
      width: 100%;
      overflow: auto;
      margin-bottom: 1em;

      .field-items {
        padding: 1em;
        // width: 5000px;

        .field-item {
          display: inline-block;
          // float: left;
          margin-right: 1em;
        }
      }
    }
  }

  .links {
    li {
      display: inline-block;
      a {
        display: block;
        background: $node_links_color;
        padding: 0.5em 1.0em;
        color: #fff;
        text-decoration: none;
      }
    }
  }

}