/* Font styles. */
/* line 4, ../scss/style.scss */
body {
  margin: 0;
  /* Setting up font size, leading and font family
   * http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography */
  font: 13px/1.5em "Helvetica Neue", helvetica, Arial, sans-serif;
  letter-spacing: 0.03em;
  color: #444444;
}

/* Links */
/* line 15, ../scss/style.scss */
a:link, a:visited {
  color: blue;
  text-decoration: none;
}

/* line 22, ../scss/style.scss */
a:hover, a:active {
  color: red;
  text-decoration: underline;
}

/* Titles. */
/* line 29, ../scss/style.scss */
#site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

/* line 37, ../scss/style.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
}

/* line 41, ../scss/style.scss */
h1, .breadcrumb {
  font-size: 2.2em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
  display: inline;
}

/* line 49, ../scss/style.scss */
h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 0.75em;
}

/* line 55, ../scss/style.scss */
h3 {
  font-size: 1.4em;
  margin-bottom: 1em;
}

/* line 60, ../scss/style.scss */
h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

/* line 65, ../scss/style.scss */
h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0;
}

/* line 71, ../scss/style.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* Paragraph styles. */
/* line 77, ../scss/style.scss */
p {
  margin: 0 0 1em 0;
}

/* List styles. */
/* line 82, ../scss/style.scss */
ul, ol {
  margin-left: 0;
  padding-left: 2em;
}

/* Table styles. */
/* line 88, ../scss/style.scss */
table {
  width: 99%;
}

/* line 94, ../scss/style.scss */
tr.even td,
tr.odd td {
  padding: 10px 5px;
}

/* line 99, ../scss/style.scss */
tr.odd {
  background-color: white;
}

/* Code. */
/* line 104, ../scss/style.scss */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 109, ../scss/style.scss */
pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa;
}

/* List styles. */
/* line 118, ../scss/style.scss */
ul {
  list-style-type: disc;
}
/* line 120, ../scss/style.scss */
ul ul {
  list-style-type: circle;
}
/* line 122, ../scss/style.scss */
ul ul ul {
  list-style-type: square;
}
/* line 124, ../scss/style.scss */
ul ul ul ul {
  list-style-type: circle;
}

/* line 131, ../scss/style.scss */
ol {
  list-style-type: decimal;
}
/* line 133, ../scss/style.scss */
ol ol {
  list-style-type: lower-alpha;
}
/* line 135, ../scss/style.scss */
ol ol ol {
  list-style-type: decimal;
}

/* Abbreviation. */
/* line 142, ../scss/style.scss */
abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap;
}

/* UI improvments. */
/* line 149, ../scss/style.scss */
#edit-title {
  font-size: 24px;
  width: 99%;
}

/* line 154, ../scss/style.scss */
#system-themes-form img {
  width: 100px;
}

/* line 158, ../scss/style.scss */
.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777;
}

/* line 166, ../scss/style.scss */
#edit-delete {
  color: #cc0000;
}

/* Console, style from slate theme. */
/* line 171, ../scss/style.scss */
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee;
}

/* line 179, ../scss/style.scss */
div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55;
}

/* line 185, ../scss/style.scss */
div.error {
  color: white;
  background: #ee6633;
  border-color: #dd5522;
}

/* line 191, ../scss/style.scss */
div.status {
  color: #336600;
  background: #ccff88;
  border-color: #bbee77;
}

/* Region Colors. delete when starting a new theme. */
/* line 202, ../scss/style.scss */
#sidebar-first {
  background: #e7edff;
}

/* line 206, ../scss/style.scss */
#sidebar-second {
  background: #ffd075;
}

/* line 11, ../scss/_custom.scss */
#navigation {
  border-top: 2px solid #444444;
}
/* line 15, ../scss/_custom.scss */
#navigation ul#primary {
  margin-top: 3px;
}
/* line 18, ../scss/_custom.scss */
#navigation ul#primary li {
  list-style-type: none;
  display: block;
  float: left;
  margin-right: 0.5em;
}
/* line 24, ../scss/_custom.scss */
#navigation ul#primary li a {
  font-size: 1.1em;
  padding: 0.3em 1.0em;
  background: #2e94d3;
  color: #fff;
}
/* line 30, ../scss/_custom.scss */
#navigation ul#primary li a:hover {
  background: #58aadc;
  text-decoration: none;
}

/* line 39, ../scss/_custom.scss */
.breadcrumb {
  display: inline-block;
  padding: 0;
}
/* line 43, ../scss/_custom.scss */
.breadcrumb .separator {
  padding: 0 0.5em;
}

/* line 48, ../scss/_custom.scss */
h1 {
  display: inline-block;
}

/* line 52, ../scss/_custom.scss */
.tabs {
  clear: both;
  overflow: hidden;
}

/* line 1, ../scss/_page-node.scss */
.page-node .submitted {
  float: right;
  padding: 0 0 1em 1em;
}
/* line 7, ../scss/_page-node.scss */
.page-node .node-wireframe .field-name-field-asset-collection {
  clear: both;
  background: #444;
  height: 400px;
  width: 100%;
  overflow: auto;
  margin-bottom: 1em;
}
/* line 15, ../scss/_page-node.scss */
.page-node .node-wireframe .field-name-field-asset-collection > .field-items {
  padding: 1em;
  width: 2500px;
  overflow: hidden;
}
/* line 20, ../scss/_page-node.scss */
.page-node .node-wireframe .field-name-field-asset-collection > .field-items .field-collection-view-links {
  display: none;
}
/* line 24, ../scss/_page-node.scss */
.page-node .node-wireframe .field-name-field-asset-collection > .field-items > .field-item {
  display: block;
  float: left;
  margin-right: 1em;
}
/* line 32, ../scss/_page-node.scss */
.page-node .node-wireframe .field-name-field-asset-collection > .field-items .field-name-field-asset-original a {
  color: #fcc809;
}
/* line 39, ../scss/_page-node.scss */
.page-node .node-wireframe .field-name-field-current-status {
  margin-bottom: 1em;
}
/* line 45, ../scss/_page-node.scss */
.page-node .links li {
  display: inline-block;
}
/* line 47, ../scss/_page-node.scss */
.page-node .links li a {
  display: block;
  background: #76b423;
  padding: 0.5em 1.0em;
  color: #fff;
  text-decoration: none;
}
/* line 54, ../scss/_page-node.scss */
.page-node .links li a:hover {
  background: #91d733;
}
/* line 62, ../scss/_page-node.scss */
.page-node #comments {
  border-top: 2px solid #444444;
  padding: 1em 10em 0 10em;
}
/* line 66, ../scss/_page-node.scss */
.page-node #comments .indented {
  margin-left: 15px;
  border-left: 5px solid #bbdafd;
  padding-left: 5px;
}
/* line 72, ../scss/_page-node.scss */
.page-node #comments .comment {
  position: relative;
  margin: 1em 0;
  padding-bottom: 31px;
  border-bottom: 1px solid #444444;
}
/* line 78, ../scss/_page-node.scss */
.page-node #comments .comment div.links {
  position: absolute;
  bottom: 0;
  right: 0;
}
/* line 83, ../scss/_page-node.scss */
.page-node #comments .comment div.links li.comment-reply {
  display: none;
}
/* line 89, ../scss/_page-node.scss */
.page-node #comments .revision-comment-marker {
  clear: both;
  background: #2e94d3;
  margin-bottom: 5px;
}
/* line 95, ../scss/_page-node.scss */
.page-node #comments .revision-comment-marker a {
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
}
/* line 100, ../scss/_page-node.scss */
.page-node #comments .revision-comment-marker a:hover {
  background: #58aadc;
  text-decoration: none;
}

/* line 4, ../scss/_section-projects.scss */
.page-projects .view-id-projects.view-display-id-page > .view-content > .views-row,
.page-taxonomy .view-id-projects.view-display-id-page > .view-content > .views-row {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 2px solid #444444;
  clear: both;
  overflow: hidden;
}
/* line 17, ../scss/_section-projects.scss */
.page-projects .view-pages > .view-content > .views-row,
.page-taxonomy .view-pages > .view-content > .views-row {
  background: #e6e6e6;
  padding: 1em;
  margin: 0 1em 1em 0;
  width: 517px;
  float: left;
}
/* line 26, ../scss/_section-projects.scss */
.page-projects .view-pages > .view-content > .current-status-in-progress,
.page-taxonomy .view-pages > .view-content > .current-status-in-progress {
  background: #feeaa0;
}
/* line 29, ../scss/_section-projects.scss */
.page-projects .view-pages > .view-content > .current-status-needs-review,
.page-taxonomy .view-pages > .view-content > .current-status-needs-review {
  background: #facbbd;
}
/* line 32, ../scss/_section-projects.scss */
.page-projects .view-pages > .view-content > .current-status-done,
.page-taxonomy .view-pages > .view-content > .current-status-done {
  background: #d6f0b3;
}
/* line 36, ../scss/_section-projects.scss */
.page-projects .view-pages > .view-content > .views-row-even,
.page-taxonomy .view-pages > .view-content > .views-row-even {
  margin-right: 0;
}
/* line 41, ../scss/_section-projects.scss */
.page-projects .view-pages .views-field-name,
.page-taxonomy .view-pages .views-field-name {
  display: block;
  float: right;
  width: 170px;
}
/* line 47, ../scss/_section-projects.scss */
.page-projects .view-pages .views-field-field-asset-collection,
.page-taxonomy .view-pages .views-field-field-asset-collection {
  clear: both;
}
/* line 50, ../scss/_section-projects.scss */
.page-projects .view-pages .views-field-field-asset-collection ul,
.page-taxonomy .view-pages .views-field-field-asset-collection ul {
  padding: 0;
  margin: 0;
}
/* line 54, ../scss/_section-projects.scss */
.page-projects .view-pages .views-field-field-asset-collection ul li,
.page-taxonomy .view-pages .views-field-field-asset-collection ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
  margin-right: 0.5em;
}
